# Folders to ignore
_build/
#data/
temp/

# Ignore file types that may contain data or models
*.p
*.pkl
*.csv
*.xlsx

# Ignore PyCharm .idea and .vscode files
**/.idea/
**/.vscode/

# Ignore pyc files
*.pyc

# Ignore all checkpoints and output folders
**/.ipynb_checkpoints/
**/output/

# Ignore pycache folders
**/__pycache__/



